* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#danmaku {
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

#demo-a {
  width: 90vw;
  height: 80vh;
  margin-bottom: 4vh;
  background-color: #333;
}

#demo-b {
  width: 90vw;
  height: 44vh;
  background-color: #333;
}

.item {
  text-shadow:
    rgba(0, 0, 0, 0.4) 1px 0px 1px,
    rgba(0, 0, 0, 0.4) 0px 1px 1px,
    rgba(0, 0, 0, 0.4) 0px -1px 1px,
    rgba(0, 0, 0, 0.4) -1px 0px 1px;
}

.send{
  border: 1px solid #78CAFA;
}
